<section class="about about--blue">
  <div class="about__container">
    <div class="about__split-color">
      <div class="about__number">#01</div>
      <h2 class="about__heading"><span>About Me</span></h2>
    </div>

    <div class="about__container-fluid">
      <div class="about__head">
        <h2 class="about__heading-border">Hello! i'm Kamleshwar Maurya</h2>
        <p class="about__para">
          M.C.A. (Master of Computer Applications) from New Horizon College of Engineering
          with over 5 year of experience as Angular Developer. Currently working in Sapient Publicis.
          Focused & goal driven with strong work ethics, continuously striving for improvements coupled with commitment
          to offer quality work. Adaptable and a quick learner with skills to work under pressure
          Possesses team work and good analytical skills.
        </p>
      </div>
      <div class="about__image-wrapper">
        <div class="about__img-hover">
          <img class="about__img" src="assets/images/profile.jpg" alt="profile image">
        </div>
      </div>
      <div class="">
        <h3 class="about__heading-border2">Personal Info</h3>
        <p class="personal-info clearfix">
          <span class="personal-info-title">Name</span>
          <span class="personal-info-disc"> Kamleshwar Maurya
            Deo</span>
        </p>
        <p class="personal-info ">
          <span class="personal-info-title">Profession</span>
          <span class="personal-info-disc">Angular
            Developer</span>
        </p>
        <p class="personal-info clearfix">
          <span class="personal-info-title">Address</span>
          <span class="personal-info-disc">Gurugram, India</span>
        </p>
        <p class="personal-info clearfix">
          <span class="personal-info-title">Phone</span>
          <span class="personal-info-disc">+91
            9738372866
          </span></p>
        <p class="personal-info clearfix"><span class="personal-info-title">Email</span>
          <span class="personal-info-disc">kamleshwarmaurya@gmail.com</span>
        </p>
      </div>

      <div class="">
        <h3 class="about__heading-border2">My Resume</h3>
        <p>It will be a great pleasue meeting with you. Please download my resume for more details regarding my work
          experience.
        </p>
        <a href="https://drive.google.com/file/d/0B-G99nLYHTVTS1pwZFo5SDlSY3c4T1JEN0NIcUotS3hrSGlR/view?usp=sharing"  target="_blank" class="btn btn--flat">download cv</a>
      </div>
    </div>
  </div>
</section>
