<section class="about">
  <div class="content-boxed">
    <div class="split-color">
      <div class="section-number">#01</div>
      <h2 class="section-heading"><span>About Me</span></h2>
    </div>

    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="heading-border wow fadeInUp">Hello! i'm Kamleshwar Maurya</h2>
          <p class="fadeInUp">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book.</p>
        </div>

        <div class="col-lg-4">
          <div class="wow fadeInUp mb-4">
            <div class="about-img">
              <div class="img-hover"><img src="images/about-img.jpg" alt="about"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="wow fadeInUp mb-4">
            <h3 class="heading-border2">Personal Info</h3>
            <p class="personal-info clearfix">
              <span class="personal-info-title">Name</span>
              <span class="personal-info-disc"> Kamleshwar Maurya
                Deo</span>
            </p>
            <p class="personal-info clearfix">
              <span class="personal-info-title">Profession</span>
              <span class="personal-info-disc">Angular
                Developer</span>
            </p>
            <p class="personal-info clearfix">
              <span class="personal-info-title">Address</span>
              <span class="personal-info-disc">Gurugram, India</span>
            </p>
            <p class="personal-info clearfix">
              <span class="personal-info-title">Phone</span>
              <span class="personal-info-disc">+91
                9738372866
              </span></p>
            <p class="personal-info clearfix"><span class="personal-info-title">Email</span>
              <span class="personal-info-disc">kamleshwarmaurya@gmail.com</span>
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="wow fadeInUp mb-4">
            <h3 class="heading-border2">My Resume</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s.</p>
            <a href="#" class="btn flat-btn">download cv</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
