@import '../../../assets/styles/base/mixin';
.skills {
  &--yellow {
    background-color: #ff9900;
  }

  &__split-color {
    width: 100%;
    padding: 20px 0;
    margin-bottom: 45px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);

    @include media-medium {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 140px;
      height: 100%;
      padding: 115px 0 0;
      text-align: center;
      overflow: hidden;
    }
  }

  &__number {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 10px;

    @include media-medium {
      margin-bottom: 35px;
      font-size: 36px;
      line-height: 36px;
    }
  }

  &__heading {
    font-size: 30px;
    line-height: 30px;

    @include media-medium {
      transform: rotate(-90deg);
      width: 254px;
      top: 94px;
      position: relative;
      font-size: 37px;
      margin: 0;
      left: -55px;
    }
  }

  &__container {
    @include media-medium {
      padding: 112px 0 112px 140px;
      position: relative;
    }
  }

  &__container-fluid {
    padding-left: 20px;
    padding-right: 20px;

    @include media-medium {
      &:after {
        content: "";
        display: block;
        clear: both;
      }
    }
  }
  &__heading-border {
    padding-bottom: 25px;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    text-align: center;

    &:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 63px;
      height: 3px;
      background: #fff;
      right: 0;
      margin: 0 auto;
    }

  }


}
