<section id="specialization" class="skills skills--yellow">
  <div class="skills__container">
    <div class="skills__split-color">
      <div class="skills__number">#02</div>
      <h2 class="skills__heading"><span>My Skills</span></h2>
    </div>
    <div class="skills__container-fluid">
      <div class="skills__head">
        <h2 class="skills__heading-border">MY MISSION IS</h2>
        <h2 class="skills__heading-border">DESIGN &amp; DEVELOP THE BEST<br> WEBSITES AROUND</h2>
      </div>
      <div class="skills__grid">
        <div class="skills__grid-one-third">
          <div class="mb-4">
            <div class="skill-icon"><i class="fas fa-graduation-cap"></i></div>
            <h3 class="skills__heading-border2">Education</h3>
            <p><strong>New Horizon College of Engineering</strong><br>Master of Computer Applications</p>
            <p><strong>Govt. PG College</strong><br>Bachalor of Science</p>
            <p><strong>Obra Inter College</strong><br>Secondary and Higher Secondary Education</p>
          </div>
        </div>
        <div class="skills__grid-one-third">
          <div class="mb-4">
            <div class="skill-icon"><i class="fas fa-briefcase"></i></div>
            <h3 class="skills__heading-border2">Experience</h3>
            <p><strong>Senior Associate</strong><br>Publicis Sapient</p>
            <p><strong>Application Sofware Developer Consultant</strong><br>NTT DATA Pvt. Ltd.</p>
            <p><strong>Software Engineer</strong><br>SashInfo Services Pvt. Ltd.</p>
          </div>
        </div>
        <div class="skills__grid-one-third">
          <div class="progress-box wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="progress-subject">
              <p>Angular</p>
              <div class="progress">
                <div class="progress-bar active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                  style="width:90%"></div>
              </div>
              <p class="text-right mt-2">70%</p>
            </div>
            <div class="progress-subject">
              <p>Javascript</p>
              <div class="progress">
                <div class="progress-bar active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                  style="width:75%"></div>
              </div>
              <p class="text-right mt-2">80%</p>
            </div>
            <div class="progress-subject">
              <p>HTML5, CSS3</p>
              <div class="progress">
                <div class="progress-bar active" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"
                  style="width:65%"></div>
              </div>
              <p class="text-right mt-2">90%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="skills__heading2">My Skills</h2>
  </div>
</section>
