<section id="specialization" class="skills skills--yellow">

  <div class="skills__container">
    <div class="skills__split-color">
      <div class="skills__number">#02</div>
      <h2 class="skills__heading"><span>My Skills</span></h2>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12 text-center">
          <div class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <h5 class="mb-4">MY MISSION IS</h5>
            <h2 class="mb-5 heading-border">DESIGN &amp; DEVELOP THE BEST<br> WEBSITES AROUND</h2>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-4">
                  <div class="skill-icon"><i class="fas fa-graduation-cap"></i></div>
                  <h3 class="heading-border2">Education</h3>
                  <p><strong>University of Engineering</strong><br>Bachelor of Science</p>
                  <p><strong>College of Awesomeness</strong><br>Master of Fine Arts</p>
                  <p><strong>School of Amusement</strong><br>Bachelor of Fine Arts</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="mb-4">
                  <div class="skill-icon"><i class="fas fa-briefcase"></i></div>
                  <h3 class="heading-border2">Experience</h3>
                  <p><strong>Lead Developer</strong><br>State Art company</p>
                  <p><strong>UI/UX Developer</strong><br>Design Corporation</p>
                  <p><strong>Front-End Developer</strong><br>Creative Design Studio</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="progress-box wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
            <div class="progress-subject">
              <p>Design</p>
              <div class="progress">
                <div class="progress-bar active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                  style="width:90%"></div>
              </div>
              <p class="text-right mt-2">90%</p>
            </div>
            <div class="progress-subject">
              <p>Development</p>
              <div class="progress">
                <div class="progress-bar active" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                  style="width:75%"></div>
              </div>
              <p class="text-right mt-2">75%</p>
            </div>
            <div class="progress-subject">
              <p>Wordpress</p>
              <div class="progress">
                <div class="progress-bar active" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"
                  style="width:65%"></div>
              </div>
              <p class="text-right mt-2">65%</p>
            </div>
            <div class="progress-subject">
              <p>Marketing</p>
              <div class="progress">
                <div class="progress-bar active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
                  style="width:50%"></div>
              </div>
              <p class="text-right mt-2">50%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="section-heading2 wow zoomIn" style="visibility: visible; animation-name: zoomIn;">Our Skills</h2>
  </div>
</section>
