.main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;

  &__heading {
    color: #fff;
    font-size: 60px;
  }

  &__list {
      margin: 0;
      padding: 0;
      display: block;
      list-style: none;
  }
  &__list-item {
      display: inline-block;
  }
  &__link {
        color: #fff;

  } 

}
