<header class="navigation">
  <div class="navigation__close">
    <fa-icon [icon]="faBars"></fa-icon>
  </div>
  <div class="navigation__head">
    <div class="navigation__profile">
      <img src="/assets/images/profile.png" alt="Profile Image" />
    </div>
    <div class="navigation__name">
      Kamleshwar Maurya
    </div>
    <div class="navigation__designation">
      Sr. Associate at Sapient
    </div>


  </div>
  <div class="navigation__body">
    <ul id="menu-primary">
      <li class="active"><a class="scroll" title="Home" href="#header_banner">Home</a></li>
      <li class=""><a class="scroll" title="About Me" href="#about">About Me</a></li>
      <li class=""><a class="scroll" title="Specialization" href="#specialization">Specialization</a></li>
      <li class=""><a class="scroll" title="Projects" href="#projects">Projects</a></li>
      <li class=""><a class="scroll" title="Services" href="#services">Services</a></li>
      <li class=""><a class="scroll" title="Contact" href="#contact">Contact</a></li>
    </ul>

  </div>
  <div class="navigation__footer">
    <p class="copyright-txt">&copy; 2018 Kamleshwar Maurya - All Rights Reserved</p>
    <div class="footer-social">
      <ul class="navigation__list-inline">
        <li class="navigation__items">
          <a class="navigation__link" href="#">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </a>
        </li>
        <li class="navigation__items">
          <a class="navigation__link" href="#">
            <fa-icon [icon]="faInstagram"></fa-icon>
          </a>
        </li>
        <li class="navigation__items">
          <a class="navigation__link" href="#">
            <fa-icon [icon]="faTwitter"></fa-icon>
          </a>
        </li>
        <li class="navigation__items">
          <a class="navigation__link" href="#">
            <fa-icon [icon]="faSkype"></fa-icon>
          </a>
        </li>
        <li class="navigation__items">
          <a class="navigation__link" href="#">
            <fa-icon [icon]="faLinkedin"></fa-icon>
          </a>
        </li>
      </ul>
    </div>

  </div>


</header>
